.*.sw*
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.run.xml
*.toc
*.pdf
*.bcf
*.dvi
*.ind
*.toc
acmart.glo
acmart.gls
acmart.hd
acmart.idx
acmart.ilg
comment.cut
.DS_Store
lib/
*.html
*.txt
*.mk
*.refcache/